body{
    background-color: #F7FFFC;
    min-height: 96vh;
}

#title{
    text-align: center;
    font-size: 48px;
    font-family: Montserrat;
    font-weight: 900;
  }
  
  .modal
  {
    position:absolute;
    top: 200px;
    margin-left: 32%;
    margin-right: 30%;
    padding-top: 3%;
    display: block;
    width: 582px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.35); 
    background-color: white;
  
  }
  
  #text{
   border-radius: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 5%;
   margin-right: 5%;
   height: 48px;
   width: 521px;
  }

  #city{
    border-radius: 5px;
   margin-left: 5%;
   margin-right: 5%;
   height: 48px;
   width: 527px;
  }

  #button{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 40px;
    width: 527px;
    background-color: #35A17D;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat;
  }
  
  #label{
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 700;
  color: #A0A0A0;
  margin-left: 4.7%;
  
  }