<body>
    <div class="jb-apply-page-container">
        <div class="jb-apply-posting-panel">
            <a routerLink="/job-postings-page-component" class="jb-posting-panel--navigation">
                <span class="material-symbols-outlined">arrow_back_ios</span>
                <p class="jb-navigation-label">Обратно към обявите</p>
            </a>
            <app-apply-posting-details></app-apply-posting-details>
        </div>
        <div class="jb-apply-form-panel">
            <p class="jb-apply-form-panel--heading">
                Кандидатура
            </p>
            <app-apply-form></app-apply-form>
        </div>
    </div>
</body>
