 <div id = "title">
        Профил
        </div>
        
        <div class = "modal">
        
          <a routerLink = "/company-job-posts-page">
            <input type="submit" id="button" value="ОБЯВИ">
          </a>
            
          <a routerLink = "/company-profile-menu">
            <input type="submit" id="button" value="ДАННИ ЗА ПРОФИЛА">
          </a>
            
          <a routerLink = "/change-password-page">
            <input type="submit" id="button" value="СМЯНА НА ПАРОЛАТА">
          </a>
            
        
        </div>
