<body>
    <div id="title">
        Смяна на парола
    </div>

    <div class="modal">

        <span id="label">Текуща парола</span> <br>
        <input type="password" #currentP id="text">
        <br>

        <span id="label">Нова парола</span> <br>
        <input type="password" #newP id="text">
        <br>

        <span id="label">Потвърждение на паролата</span> <br>
        <input type="password" #newP_2 id="text">
        <br>

        <input type="submit" id="button" (click)="getVal(currentP.value,newP.value,newP_2.value)"
            value="СМЕНИ ПАРОЛАТА">

    </div>
</body>