<div class="jb-details-container">
    <div class="jb-details">
        <div class="jb-details-company-info">
            <h1 class="jb-details-company-info--heading jb-job-descr-heading">{{jobPost.title}}</h1>
            <div class="jb-details-company-info--description jb-job-descr-details">
                <p class="jb-job-descr-tags jb-job-descr-details--item">{{jobPost.city}}</p>
                <p class="js-job-descr-date jb-job-descr-details--item">
                    <i class="fas fa-calendar-alt"></i>{{jobPost.date}}
                </p>
            </div>
        </div>
        <span class="jb-details-separator"></span>
        <div class="jb-details-description-container">
            <p class="jb-details-desctiption">
                 {{jobPost.description}}
            </p>
        </div>
    </div>
</div>