<body>
    <div class="jb-home-container">
        <div class="jb-home">
            <h1 class="jb-home--heading1">Намери бъдещата си<br> работа сега!</h1>
            <h2 class="jb-home--heading2">Най-богатият университетски job board.</h2>
            <form class="jb-home-search-form" action="">
                <input type="text" class="jb-home--input" placeholder="Потърсете по ключови думи">
                <select name="" id="" class="jb-home--input jb-home--input-small">
                    <option value="">Категория</option>
                    <option value="">ИТ</option>
                    <option value="">Маркетинг</option>
                    <option value="">Реклама</option>
                    <option value="">Дизайн</option>
                    <option value="">Администрация и управление</option>
                </select>
                <select name="" id="" class="jb-home--input jb-home--input-small">
                    <option value="">Град</option>
                    <option value="">София</option>
                    <option value="">Смолян</option>
                    <option value="">Хасково</option>
                    <option value="">Шумен</option>
                    <option value="">Варна</option>
                </select>
                <button class="jb-job-postings-search--button"><span class="material-symbols-outlined">
                    search
                    </span></button>
            </form>
            <div class="jb-home-illustration"></div>
        </div>
    </div>
</body>