<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
</head>
<body>
    <div class="jb-success-page-container">
        <div class="jb-success-icon"><span class="material-symbols-outlined">
            assignment_turned_in
            </span></div>
        <h1 class="jb-success-message">Смяната на паролата беше успешна.</h1>
        <a class="jb-success-go-back-button" href="#">Назад към профила</a>
    </div>
</body>